@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Baloo+2');


.App {
 
  background-color: #fafafa;
  margin-left: 3%;
  margin-right: 3%;
  border-color: 2px #fafafa;
  margin-top: 3%;
  margin-bottom: 3%;
  




  /* margin: 0px 5px 0px 5px solid black; */
}



.app-title {
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
}

header {
  justify-content: center;
 
  text-align: center;
  color: #bc9e82;
  /* color: #8b8b8e; */
  font-family: 'Baloo 2';
  background-color: #dae2f7;
  
  background-color: #ffe3b3;
  
  border-radius: 0 0  120% 120%;
  box-shadow: 0px 1px 0px lightgray;
padding-top: 1px;
/* border-bottom-left-radius: 9999px; */
/* border-bottom-right-radius: 9999px; */

/* margin-left: 5px;
margin-right: 5px; */

  
}





.categories-link {
  text-decoration: none;
  
}


.home-div {
  margin-left: 150px;
  margin-right: 150px;
  justify-content: center;
}

.home-link {
  text-decoration: none;
}


.home-button {
  /* border: solid #f4a460; */
  border: solid #fafafa;
  border-radius: 45px;
  /* margin-right:20px; */
  
  /* background-color: #f4a460; */
  background-color: #fafafa;
  /* color: white; */
  
  box-shadow: 0px 3px 0px lightgray;
  margin-bottom: 15px;
  
  
  /* background-image: url('https://i.imgur.com/FJkLcZF.png'); */
}

/* https://www.pluralsight.com/guides/create-a-hover-button-in-a-react-app */
.home-button:hover{
  transform: scale(0.9);
  transition-duration: 0.8s;
}

.home-png {
  width: 25px;
  filter: invert(0.6)
}

.chair-icon {
  width: 40px;
  height: 30px;
  margin-top: 10px;
  filter: invert(0.5);
  
 
}

.seat-icon {
  width: 40px;
  height: 35px;
  margin-top: 10px;
  filter: invert(0.4);
}

.pump-icon {
  width: 40px;
  height: 35px;
  margin-top: 10px;
   filter: invert(0.4);
}

.diaper-icon {
  width: 40px;
  height: 30px;
  margin-top: 10px;
  filter: invert(0.9);
  /* background-color: #e8f1ec; */
}

.crib-icon {
  width: 36px;
  height: 30px;
  margin-top: 10px;
  /* background-color: #f5e5b2; */
  padding-right: 5px;
  filter: invert(0.6);
}

.pail-icon {
  width: 25px;
  height: 30px;
  margin-top: 10px;
  /* background-color: #f5e5b2; */
  padding-right: 5px;
  filter: invert(0.5);
}

.bottle-icon {
  width: 40px;
  height: 30px;
  margin-top: 10px;
  filter: invert(0.4);
  /* background-color: #f5e5b2; */
  /* padding-right: 5px; */
}



.link-container {
  margin-left: 40px;
  margin-right: 127px;
  padding-top:1px;
  /* background-color: #fafafa; */
  /* background-color: #ffd393 */
  /* border: solid lightslategray; */
  
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  /* border: solid #ffe3b3; */
  border: solid #eaf4ef;
  
  margin-top: 15px;
  width: 100%;
  height: 50px;
  text-align: left;
  border-radius: 45px;
  
  box-shadow: 0px 3px 0px lightgray;
  /* background-color: #ffe3b3; */
  background-color: #eaf4ef;
  /* color:#cf7a4a; */
  color: #9d9ea0;
  letter-spacing: 1px;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 38px;
  margin-right: 50px;
  font-family: Baloo 2;
}



.form-container {
  border: solid #f2f2ea;
  border-radius: 45px;
  box-shadow: 0px 3px 0px lightgray;
  background-color: #f7f2ea;
  color:#9d9ea0;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 48px;
  margin-right: 48px;
  font-family: Baloo 2;
  letter-spacing: 2px;
  
}

.review-section {
  color: #9d9ea0;
  text-align: center;
  border: 2px solid#dae2f7;
  width: 25%;
  margin-left: 37%;
  border-radius: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 2px;
}


.cat-buttons {
  border: 2px solid #dae2f7;
  border-radius: 45px;
  
  /* background-color: #f7f2ea; */
  background-color: #fafafa;
  color: #8b8b8e;
  /* box-shadow: 0px 3px 0px lightgray; */
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  
}



.titles {
  text-align: center;
  margin-top: 15px;
  
}

.rendered-data {
  
  border: solid #eaf4ef;
  border-radius: 45px;
  box-shadow: 0px 3px 0px lightgray;
  background-color: #eaf4ef;
  color:#9d9ea0;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 48px;
  margin-right: 48px;
  font-family: Baloo 2;
  margin-top: 15px;
  text-align: center;

}



.img-chair {
  width: 95px;
  height: 70px;
  margin-bottom: 10px;
  filter:opacity(0.2);
}

.img-car {
  width: 105px;
  height: 90px;
  margin-bottom: 10px;
  filter:invert(0.8);
}

.img-bottle {
  width: 105px;
  height: 80px;
  margin-bottom: 10px;
  filter: invert(0.8);
}

.img-pump {
  width: 110px;
  height: 85px;
  margin-bottom: 10px;
  filter: invert(0.8);
}

.img-diaper {
  width: 65px;
  height: 55px;
  margin-bottom: 10px;
  filter: invert(0.9);
}

.img-crib {
  width: 85px;
  height: 85px;
  margin-bottom: 10px;
  filter: invert(0.9);
}

.img-pail {
  width: 55px;
  height: 65px;
  margin-bottom: 10px;
  filter: invert(0.8);
}

.actual-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  
}

#form-text {
  text-align: center;
  color:#f4af60;
  letter-spacing: 2px;
}

.form-label {
  color: #f4af60;
  text-align: center;
  font-size: 13px;
  padding-bottom: 3px;
  
  
}


input#brand{
  width: 55%;
  height: 23px;
  margin-left: 21%;
  border: 1px solid #f4a460;
  border-radius: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  background-color: #f7f2ea;
  box-shadow: 0px 3px 0px lightgray;
  outline: none;
  color: #9d9ea0;
}

input#name{
  width: 55%;
  margin-left: 21%;
  height: 23px;
  color: #9d9ea0;
  border: 1px solid #f4a460;
  border-radius: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  background-color: #f7f2ea;
  box-shadow: 0px 3px 0px lightgray;
  outline:  none;
}

input#rating{
  width: 55%;
  margin-left: 21%;
  height: 23px;
  color: #9d9ea0;
  border: 1px solid #f4a460;
  border-radius: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  background-color: #f7f2ea;
  box-shadow: 0px 3px 0px lightgray;
  outline: none;
}

textarea#review{
  width: 55%;
  margin-left: 21%;
  color: #9d9ea0;
  border: 1px solid #f4a460;
  border-radius: 18px;
  padding-top: 5px;
  padding-bottom: 10px;
  
  padding-left: 8px;
  background-color: #f7f2ea;
  box-shadow: 0px 3px 0px lightgray;
  outline: none;
}

button#form-button {
  width: 30%;
  margin-left: 34%;
  
  border: 1px solid #f4a460;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  background-color: #f7f2ea;
  box-shadow: 0px 3px 0px lightgray;
  color: #f4a460;
  letter-spacing: 2px;
  
}

.submit-button:hover {
  transform: scale(0.9);
  transition-duration: 0.8s;
}

input::placeholder{
  color: #f4a460;
}

textarea::placeholder{
  color: #f4a460;
}

.brand-img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  filter: invert(0.5);
}

.review-img {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  filter: invert(0.5);
  
}

.brand-div {
 
  border-radius: 25px;
 
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  
}

.rating-div {
  
  margin-left: 5%;
  margin-right: 5%;
  
}

.review-div {
  border: 1px solid #d7d7d7;
  border-radius: 20px;
  box-shadow: 0px 1px 0px lightgray;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  /* padding-bottom: 5px; */
  padding-left: 5px;
  padding-right: 5px;
  
}

.delete-button {
  width: 30%;
  /* margin-left: 1%; */
  margin-bottom: 5%;
  border: 1px solid #f4a460;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  background-color: #f7f2ea;
  box-shadow: 0px 3px 0px lightgray;
  color: #f4a460;
  letter-spacing: 2px;
  
}

.delete-button:hover {
  transform: scale(0.9);
  transition-duration: 0.8s;
}

.footer-text {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer {
  text-align: center;
  
  /* background-color: #dae2f7; */
  background-color: #f7f2ea;
  letter-spacing: 2px;
  /* color: #8b8b8e; */
  color: #bc9e82;

  font-family: Baloo 2;
  /* border-radius: 55px 55px 0 0; */
  border-radius: 100% 100% 0 0;
  padding-top: 0px;
  height: 30px;
  box-shadow: 3px 3px 3px lightgray;
}

@media only screen and (min-width: 436px ) {
  .link-container {

    margin-left: 60px;
    margin-right: 147px;
  }
}

@media only screen and (min-width: 480px ) {
  .link-container {

    margin-left: 80px;
    margin-right: 167px;
  }
}



@media only screen and (min-width: 568px ) {
  .link-container {

    margin-left: 90px;
    margin-right: 177px;
  }

  .category {
    height: 60px;
  }

  .chair-icon {
    padding-top: 5px;
  }

  .car-icon {
    padding-top: 5px;
  }

  .diaper-icon {
    padding-top: 5px;
  }

  .crib-icon {
    padding-top: 5px;
  }

  .pail-icon {
    padding-top: 5px;
  }

  .bottle-icon {
    padding-top: 5px;
  }

  .form-container {
    margin-left: 15%;
    margin-right: 15%;
  }

  .rendered-data {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media only screen and (min-width: 642px ) {
  .link-container {
    margin-top: 15px;
    margin-bottom: 15px;

    margin-left: 110px;
    margin-right: 197px;
  }

  .App {
    margin-left: 5%;
    margin-right: 5%;
  }

  .form-container {
    margin-left: 20%;
    margin-right: 20%;
  }

  .rendered-data {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (min-width: 759px ) {
  .link-container {
    margin-top: 15px;
    margin-bottom: 15px;

    margin-left: 140px;
    margin-right: 227px;
  }

  .App {
    margin-left: 5%;
    margin-right: 5%;
  }

  .form-container {
    margin-left: 20%;
    margin-right: 20%;
  }

  .rendered-data {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (min-width: 854px ) {
  .link-container {
    margin-top: 15px;
    margin-bottom: 15px;

    margin-left: 190px;
    margin-right: 277px;
  }

  .App {
    margin-left: 5%;
    margin-right: 5%;
  }

  .form-container {
    margin-left: 20%;
    margin-right: 20%;
  }

  .rendered-data {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (min-width: 912px ) {
  .link-container {
    margin-top: 15px;
    margin-bottom: 15px;

    margin-left: 210px;
    margin-right: 297px;
  }

  .App {
    margin-left: 5%;
    margin-right: 5%;
  }

  .form-container {
    margin-left: 20%;
    margin-right: 20%;
  }

  .rendered-data {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (min-width: 963px ) {
  .link-container {
    margin-top: 15px;
    margin-bottom: 15px;

    margin-left: 230px;
    margin-right: 317px;
  }

  .App {
    margin-left: 5%;
    margin-right: 5%;
  }

  .form-container {
    margin-left: 20%;
    margin-right: 20%;
  }

  .rendered-data {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (min-width: 1005px ) {
  .link-container {
    margin-top: 15px;
    margin-bottom: 15px;

    margin-left: 250px;
    margin-right: 337px;
  }

  .App {
    margin-left: 7%;
    margin-right: 7%;
  }

  .form-container {
    margin-left: 25%;
    margin-right: 25%;
  }

  .rendered-data {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (min-width: 1070px ) {
  .link-container {
    margin-top: 15px;
    margin-bottom: 15px;

    margin-left: 240px;
    margin-right: 327px;
  }

  .App {
    margin-left: 15%;
    margin-right: 15%;
  }

  .form-container {
    margin-left: 25%;
    margin-right: 25%;
  }

  .rendered-data {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (min-width: 1117px ) {
  .link-container {
    margin-top: 15px;
    margin-bottom: 15px;

    margin-left: 260px;
    margin-right: 347px;
  }

  .App {
    margin-left: 15%;
    margin-right: 15%;
  }

  .form-container {
    margin-left: 25%;
    margin-right: 25%;
  }

  .rendered-data {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (min-width: 1194px ) {
  .link-container {
    margin-top: 15px;
    margin-bottom: 15px;

    margin-left: 280px;
    margin-right: 367px;
  }

  .App {
    margin-left: 15%;
    margin-right: 15%;
  }

  .form-container {
    margin-left: 25%;
    margin-right: 25%;
  }

  .rendered-data {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (min-width: 1271px ) {
  .link-container {
    margin-top: 15px;
    margin-bottom: 15px;

    margin-left: 310px;
    margin-right: 397px;
  }

  .App {
    margin-left: 15%;
    margin-right: 15%;
  }

  .form-container {
    margin-left: 29%;
    margin-right: 29%;
  }

  .rendered-data {
    margin-left: 29%;
    margin-right: 29%;
  }
}

@media only screen and (min-width: 1366px ) {
  .link-container {
    margin-top: 10px;
    margin-bottom: 10px;

    margin-left: 340px;
    margin-right: 437px;
  }

  .App {
    margin-left: 15%;
    margin-right: 15%;
  }

  .form-container {
    margin-left: 31%;
    margin-right: 31%;
  }

  .rendered-data {
    margin-left: 31%;
    margin-right: 31%;
  }
}


