@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Baloo+2');


.App {
  background-color: #f7f2ea;
  /* background-color: #fff7f2; */
  margin-left: 3%;
  margin-right: 3%;
 
  /* margin: 0px 5px 0px 5px solid black; */
  
  
}



header {
  /* border: solid; */
  padding-top: 7px;
  text-align: center;
  color: #cb9663;
  font-family: 'Baloo 2';
  background-color: #ffe3b3;
  border-radius: 0 0  60px 60px;
  box-shadow: 0px 1px 0px lightgray;
  
}

.categories-link {
  text-decoration: none;
  
}



.home-div {
  margin-left: 150px;
  margin-right: 150px;
}

.home-link {
  text-decoration: none;
}


.home-button {
  border: solid #f4a460;
  border-radius: 45px;
  
  background-color: #f4a460;
  color: white;
  box-shadow: 0px 3px 0px lightgray;
  margin-bottom: 15px;
  
  /* background-image: url('https://i.imgur.com/FJkLcZF.png'); */
}

.home-png {
  width: 25px;
  filter: invert()
}

.chair-icon {
  width: 40px;
  height: 30px;
  margin-top: 10px;
  filter: invert();
  
 
}

.seat-icon {
  width: 40px;
  height: 35px;
  margin-top: 10px;
  filter: invert();
}

.pump-icon {
  width: 40px;
  height: 35px;
  margin-top: 10px;
   filter: invert(0.4);
}

.diaper-icon {
  width: 40px;
  height: 30px;
  margin-top: 10px;
  filter: invert(0.9);
  /* background-color: #e8f1ec; */
}

.crib-icon {
  width: 36px;
  height: 30px;
  margin-top: 10px;
  /* background-color: #f5e5b2; */
  padding-right: 5px;
  filter: invert(0.6);
}

.pail-icon {
  width: 25px;
  height: 30px;
  margin-top: 10px;
  /* background-color: #f5e5b2; */
  padding-right: 5px;
  filter: invert();
}

.bottle-icon {
  width: 40px;
  height: 30px;
  margin-top: 10px;
  filter: invert();
  /* background-color: #f5e5b2; */
  /* padding-right: 5px; */
}



.link-container {
  margin-left: 40px;
  margin-right: 127px;
  /* background-color: #ffd393 */
  /* border: solid lightslategray; */
  
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-content: center; */
  border: solid #ffe3b3;
  
  margin-top: 15px;
  width: 100%;
  height: 50px;
  text-align: left;
  border-radius: 45px;
  
  box-shadow: 0px 3px 0px lightgray;
  background-color: #ffe3b3;
  color:#cf7a4a;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 38px;
  margin-right: 50px;
  font-family: Baloo 2;
}

.form-container {
  border: solid #ffe3b3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 45px;

}


.footer-text {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer {
  text-align: center;
  background-color: #ffe3b3;
  /* margin-bottom: -22px; */
  color: #cb9663;
  font-family: Baloo 2;
  border-radius: 35px 35px 0 0;
  padding-top: 0px;
  height: 30px;
  box-shadow: 3px 3px 3px lightgray;
}

