header {
  /* border: solid; */
  text-align: center;
}

.categories-link {
  text-decoration: none;
}

.home-div {
  margin-left: 150px;
  margin-right: 150px;
}

.home-link {
  text-decoration: none;
}

.home-button {
  border: solid #cae9f5;
  border-radius: 45px;
  margin-bottom: 15px;
  background-color: #cae9f5;
  color: white;
  box-shadow: 0px 3px 0px lightgray;
  
  /* background-image: url('https://i.imgur.com/FJkLcZF.png'); */
}

.home-png {
  width: 25px;
  filter: invert()
}

footer {
  text-align: center;
  background-color: #cee8e5;
  margin-bottom: -22px;
  color: grey;
}

.link-container {
  margin-left: 40px;
  margin-right: 20px;
  /* border: solid lightslategray; */
  
}

.category {
  border: solid #cee8e5;
  /* height: 50px; */
  margin-top: 20px;
  width: 90%;
  text-align: left;
  border-radius: 35px;
  padding-left: 8px;
  box-shadow: 0px 3px 0px lightgray;
  background-color: #cee8e5;
  color: white;

  
}